@using Mission9_ajames26.Models.ViewModels;

@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

<style>
    .container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .background {
        background-color: #e0e0de;
        border-style: solid;
        border-color: lightgray;
        border-radius: 1px;
        border-width: 2px;
        padding: 5px;
        margin: 5px;
        width: 45%;
    }

    .background:hover {
        background-color: #919191;
        transition: all .4s ease;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Amazonian Books</h1>
</div>

<div class="container">
    @foreach (Book b in Model.Books)
    {
        <div class="background">
            <h5><b>@b.Title</b></h5>
            <div>Author: @b.Author</div>
            <div>Publisher: @b.Publisher</div>
            <div>Isbn: @b.Isbn</div>
            <div>Classification: @b.Classification</div>
            <div>Category: @b.Category</div>
            <div>Page Count: @b.PageCount</div>
            <div>Price: @b.Price</div>
        </div>
    }
</div>

<div page-num="@Model.PageInfo" page-action="Index" use-classes="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>